# Build
build
cmake-build-debug
compile_commands.json

# IDE
.idea
.cache/clangd/
.helix/

# OS
.DS_Store

# Python
.venv
test/python/__pycache__/

# R
.Rhistory

# DuckDB
duckdb_unittest_tempdir/
testext
vcpkg_installed

# Docs
_site/

# Secrets
.env
token.txt
credentials.json
service-account-credentials.json

# Local Temp Files
tmp/

# Proxy Configs
tinyproxy.conf
